/* 兼容 Firefox 浏览器 */
.not-select {
  -moz-user-select: none;
  user-select: none;
}

/* 兼容 IE 浏览器 */
.not-select {
  -ms-user-select: none;
  user-select: none;
}

.icon-btn {
    background-color: transparent !important;

    &:not(.arco-btn-disabled) {
        &:hover {
            background-color: var(--color-secondary-hover) !important;
        }
        &:active {
            background-color: var(--color-secondary-active) !important;
        }
    }
}